.searchForm {
    margin: auto;
    width: 459px;
}

.searchText,
.searchButton {
    height: 30px;
    box-sizing: border-box;
}

.searchText {
    width: 400px;
}

.searchButton {
    width: auto;
}
